Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, DELETE, PUT"
Header always set Access-Control-Allow-Headers "Content-Type"


RewriteEngine On


RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^fabrics$ controllers/fabrics.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^fabrics$ controllers/fabrics.php?action=post

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^fabrics/([0-9]+)$ controllers/fabrics.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^fabrics/([0-9]+)$ controllers/fabrics.php?action=delete&id=$1
